*{margin: 0;padding: 0}
body{text-align: center; }
img{border: 0px;}
ul,li{list-style: none;}
/*--------------------------top-------------------------------------------------*/
#topNav{width: 100%; height:28px; position:fixed;border: 1px solid #ccc ;}
#mininavInner{width: 1000px;height:28px;margin: auto;}
#mininavLeft{width: 342px;height: 28px;float: left;}
#mininavRight{width: 192px;height: 28px;float: right;}
.miniA{font-size: 12px;color: #666;font-family: 宋体，楷体，Arial; text-decoration: none;}
.miniA:hover{color: #444;}
#newMobile{background-image:url("css/Images/icobg_1.4.png");  background-position: 0 0;padding: 0 0 0 12px;}
#newMobile:hover{background-image: url("css/Images/icobg_1.4.png"); background-position: 0 -30px;}
.fgt{line-height: 28px;font-size: 16px;color: #999;font-family: 宋体，楷体，Arial;}
.miniImgA{background-image: url("css/Images/loginall_1.4.png");width: 30px;height: 28px;display: block;float: right;}
#kongjian{background-position: 0 -99px;}
#message{background-position: 0 -150px;}
#book{background-position: 0 -550px;}
#weibo{background-position: 0 -50px;}
#login{background-position: 0 -449px;width: 70px;}
#kongjian:hover{background-position: -70px -100px;}
#message:hover{background-position: -70px -150px;}
#book:hover{background-position: -68px -550px;}
#weibo:hover{background-position:-70px -50px;}
#login:hover{background-position: 0 -500px;}
/*--------------------------top end-------------------------------------------------*/


/*--------------------------soso-------------------------------------------------*/
#soso{ width:1000px; height:48px; padding: 50px 0 21px 0;  margin: auto; }
#qqlogo{display: block; width: 134px; height: 44px;background-image: url("css/Images/qqlogo_1x.png");float: left;}
#logo{width: 700px;height: 44px;margin: auto;}
#searchtxt{width:550px;height: 44px;float: right;}
#jiatxt{width: 455px;height: 30px;float: left;border: 2px solid #ccc;text-align: left;border-right: none;}
#btnOK{width: 86px;height: 34px;background-image: url("css/Images/qqbg_1.5.5.png");background-position: -350px -110px;float: left;}
#txtMenu{width: 60px;height: 20px;float: left;}
#txtMenu dt{width: 100%;height: 30px;line-height: 25px;font-family: Simsun;color: #999;font-weight: bold;cursor: pointer;padding: 0 0 0 10px;}
#txtQuery{display: block;float: left;border: 0 solid #ccc;width: 335px;height: 30px;line-height: 33px;color: #666;font-size: 16px;}
#sosologo{ width: 50px;height: 14px;background-image: url("css/Images/sosologo.png");float: right;margin: 8px 6px 0 0;line-height: 14px;background-repeat: no-repeat;}
/*--------------------------soso end-------------------------------------------------*/

 /*---------------------------------mainNav-----------------------------------------------------*/
#mainNav{width: 987px; height:51px; padding: 9px 5px 0 8px; margin: auto;background-repeat: no-repeat;background-image:url("css/Images/qqbg_1.5.5.png");background-position: 0 -35px;font:宋体，Arial;}
#mainInner{ width: 987px; height: 51px; }
.Nav{  width: 156px; *width:170px; height: 22px; float: left; padding: 0 6px 0 7px;}
.NavSpecial{  width: 130px; height: 22px; padding: 0 0 0 5px; }
.NavA{ width: 24px; *width: 26px; height: 13px; color: #fff; margin: 0 4px 0 4px; padding: 3px; *padding: 3px 0 3px 0; font-size: 12px; font-family: 宋体,Arial; text-decoration: none; display: block; float: left;}
.NavA:hover{ background-color: rgb(202,225,238) ; color: rgb(13,81,256);}
.NavASpecial{  width: 26px; *width: 30px; font-weight: bold; }
.NavAMore{ width: 36px; }



/*---------------------------------------------mainNav end------------------------------------------------------*/


/*-----------------lm1-------------------------------------------------------*/
#lm1{width: 1000px;height: 75px;margin: auto;padding: 12px 0 0 0;}
#lm1Left{width: 660px;height: 75px;border: 1px solid #ccc;float: left;background-image: url("css/Images/1.png");}
#lm1Right{width: 320px;height: 75px;border: 1px solid #ccc;float: right;background-image: url("css/Images/2.png");}
/*-------------------lm1 end--------------------------------------------------*/

/*------------------------------------layout---------------------------------------------------*/
#layout{width: 1000px;height: 1244px;margin: auto;padding: 12px 0 0 0;}
#layoutLeft{width: 660px;height: 1244px;border: 1px solid #ccc;float: left;}
#layoutLeft1{width: 660px;height: 589px;}
#LeftContent{width: 320px;height: 589px;float: left;}
#RightContent{width: 320px;height: 589px;float: right;}
#RightContenttop{width: 320px;height: 202px;}
#RightContentbottom{width: 320px;height: 365px;margin: 11px 0 0 0}
#layoutLeft2{width: 660px;height: 263px;margin: 12px 0 0 0}
#Left2Contentleft{width: 328px;height: 263px;float: left;}/*width要改为330px*/
#Left2Contentright{width: 330px;height: 263px;float: right;}/*width要改为330px*/
#layoutLeft3{width: 660px;height: 90px;background-image: url("css/Images/8.png");margin: 12px 0 0 0px;}
#layoutLeft4{width: 660px;height: 266px;}
#Left4Contentleft{width: 329px;height: 266px; float: left;}/*width要改为330px*/
#Left4Contentright{width: 329px;height: 266px; float: right; }/*width要改为330px*/
#layoutRight{width:320px;height:1244px;border: 1px solid #ccc;float: right;}
#pronav{width:318px;height: 199px;border: 1px solid #ccc; }
#hide09{width:320px;height: 180px;margin: 12px 0 0 0;background-image: url("css/Images/6.png");}
#dajiaikan{width:318px;height: 837px;border: 1px solid #ccc; margin: 12px 0 0 0;}


.hd{width: 320px;height: 32px;background-image: url("css/Images/qqbg_1.5.5.png");background-position: 0 -159px;}
#hd1{width: 84px;height: 30px;color: rgb(69,143,206);font-family: 宋体,Arial;font-size: 14px;line-height: 32px;float: left;text-decoration: none;}
#hd2{width: 84px;height: 30px;color: rgb(69,143,206);font-family: 宋体,Arial;font-size: 14px;line-height: 32px;float: left;text-decoration: none;}
#hd1:hover{text-decoration: underline;font-weight: 700;}
#hd2:hover{text-decoration: underline;font-weight: 700;}
#hd3{width: 84px;height: 30px;color: rgb(69,143,206);font-family: 宋体,Arial;font-size: 14px;line-height: 32px;float: left;text-decoration: none;*padding: 6px 0 0 0;display: block;*border: 0px;}
.lmtq{display: block;cursor: pointer; float:right;font-size: 12px;color: #666;line-height: 32px;*padding: 0px 10px 0px 10px;}
.tqt{background-image: url("css/Images/drizzle.png");width: 16px;height: 24px;cursor: pointer; background-repeat: no-repeat;float: right;padding: 0 5px 0 5px;background-position: 5px 8px;*background-position: 0px 8px;}
#RightContenttop1{width: 60px;*width:68px; height: 16px;font-size: 14px;font-weight: 700;font-family: 宋体，Arial;color: rgb(69,143,206);float: left;line-height: 38px;text-decoration: none;border: 0 solid #ccc;}
#RightContenttop1:hover{text-decoration: underline;}
#hdtop1{width: 195px;height: 16px;font-family: 宋体,Arial;font-size: 14px;color: rgb(59,99,159);font-weight: bold;line-height: 16px;text-align: center;text-decoration: none;}
#hdtop1:hover{text-decoration: underline;}

.nostyle{width: 100%;height: auto;list-style-type: none;font-size: 14px;font-family: 宋体,Arial;text-decoration: none;padding: 3px 0 3px 0;}
.nostyle li{width: 100%;height: 26px;text-align: left;color: rgb(45,55,75);font-size: 14px;font-family: 宋体,Arial;text-decoration: none;padding: 3px 0 3px 0;}
.nostyle li a{font-size: 14px;text-decoration: none;line-height: 28px;}
.todayhd{color: #2b374A;}
.todayhd:hover{color: red; text-decoration: underline;}

.lm1sub{width: 100%;height: auto;}
.lm1sub li{width: 100%;height: 28px;text-align: left;background-image: url("css/Images/icobg_1.4.png");background-position: 0 -388px;padding: 2px 0 0 6px;list-style-type: none;background-repeat: no-repeat;}
.lm1sub li a{font-size: 14px;text-decoration: none;line-height: 28px;}
.lmA{color: #2b374A;*padding: 5px 0 5px 0;}
.lmA1{color: #2b374A;*padding: 3px 0 3px 0;}
.hotA{font-weight: bold;color: #3b639f;font-size: 14px;display: block;}
.lmA1:hover{color: red;text-decoration: underline;}
.lmA:hover{font-weight: bold; text-decoration: underline;}

#bd{width: 292px;height: 99px;display: block;padding: 12px 14px 11px 14px;}
#bdleft{width: 130px;height: 99px;display: block; background-image: url("css/Images/3.png");float: left;}
#bdright{width: 130px;height: 99px;display: block;background-image: url("css/Images/5.png");float: right;}
.bdleft1{width: 130px;height: 85px;}
.bdleft2{width: 130px;height: 15px;font-size: 12px;}
.bdleft3{width:120px;height:14px;font-size: 12px;line-height:15px;text-align: center;color: rgb(45,55,75);text-decoration: none;padding: 2px,0,2px,0; }
.bdleft3:hover{color: red;text-decoration: underline;}
#ft{width: 320px;height: 208px;padding: 3px 0 0 0;}

.fts{font-size: 14px;}
.fts li{list-style-type: none;line-height: 16px;padding:5px 0 5px 2px;}
.ft1{width: 150px;height: 16px;float: left; *width:160px;padding:0px 0 0px 20px; *text-align: left; background-image:url("css/Images/icobg_1.4.png");background-position: 0 -275px;text-decoration: none;color: rgb(45,55,75);}
.ft2{width: 126px;height: 16px;text-decoration: none;color: rgb(45,55,75);line-height: 16px;}
.ft1:hover{color: red;text-decoration: underline;}
.ft2:hover{color: red;text-decoration: underline;}

/*----------------------------------------------财经股票---------------------------------------------------------------*/
#Left2Contentlefthd{width: 330px;*width: 328px;height: 29px;background-color: rgb(251,251,251);border-bottom-color: rgb(219,236,236);border-bottom-style: solid;border-bottom-width: 1px;border-top-color: rgb(69,143,206);border-top-style: solid;border-top-width: 2px;}
#Left2Contentrighthd{width: 330px;*width: 328px;height: 29px;background-color: rgb(251,251,251);border-bottom-color: rgb(219,236,236);border-bottom-style: solid;border-bottom-width: 1px;border-top-color: rgb(69,143,206);border-top-style: solid;border-top-width: 2px;}
.hfn{width: 30px;height: 16px;color: rgb(69,143,206);font-family: 宋体，Arial;font-size: 14px;float: left;font-weight: bold;line-height: 29px;text-decoration: none;}
#hfn1{width: 7px;height: 16px;color: rgb(69,143,206);font-family: 宋体，Arial;font-size: 14px;float: left;padding: 6px 8px 6px 8px;}
.hfn:hover{text-decoration: underline;}
.hfnsearch{width: 72px;height: 15px;margin:7px 10px 0 0;color: rgb(69,143,206);float: right;font-size: 12px;font-family: 宋体,Arial;text-decoration:none;}
.hfnsearch:hover{text-decoration: underline;}
#Left2Contentrighthd2{width: 143px;height: 21px;margin: 4px 2px 0 0;float: right;}
#btnsearch{background-image: url("css/Images/qqbg_1.5.5.png");background-position: -600px -160px;display: block;cursor: pointer;width: 35px;height: 21px;float: right;line-height: 29px;}
#Left2Contenttxt{display: block;width: 103px;height: 21px;padding: 0 0 0 4px;line-height: 29px;float: right;}
#Left2ContentleftContent{width: 320px;height: 208px;padding: 6px 0 0 0;}

.lm1sub1{width: 320px;height: 208px;}
.lm1sub1 li{width: 100%;height: 26px;text-align: left;background-image: url("css/Images/icobg_1.4.png");background-position: 0% -383px;list-style-type: none;background-repeat: no-repeat;padding: 2px 0px 0px 8px;line-height: 28px;}
.lm1A1{font-size: 14px;text-decoration: none;line-height: 28px;text-decoration: none;color: rgb(43,55,74);}
.lm1A1:hover{text-decoration: underline;color: rgb(205,2,0);}
#Left2Contentright2{width: 330px;height: 208px;}
#Left2Contentright3{width: 330px;height: 22px;padding: 13px 0 0 0;float: left;}

.nostyle1 li{width: 330px;height: 22px;}
.todayhd1{color: rgb(69,143,206);cursor: pointer;font-size: 12px;line-height: 22px;text-align: right;padding: 0 10px 0 10px;}
#Info1{float: left;}
#Info2{float: left;}
#Info3{float: left;}
#Info4{float: left;}
#Info5{float: left;}

#Left2Contentright4{height: 70px;width: 320px;}
#Left2Contentright5{height: 70px;width: 170px;background-image: url("css/Images/7.png");display: block;float: left;}
#hengsheng3{width: 132px;height: 14px;margin: 2px 0 0 0; float: left;text-align: center;}
#hengsheng:hover{color: rgb(205,2,0);text-decoration: underline;}
#hengsheng{font-size: 12px;font-weight: 400;text-decoration:none;color: rgb(43,55,74);padding: 0 20px 0 0;}
#hengsheng1{color: rgb(65,169,141);font-family: tahoma;font-size: 24px;}
#hengsheng2{color: rgb(65,169,141);font-family: tahoma;font-size: 12px;}
#hengsheng8{color: rgb(59,99,159);font-size: 14px;text-decoration: none;}
#hengsheng8:hover{color:rgb(205,2,0);text-decoration: underline;list-style-type: none; }

/*----------------------------------------------财经股票 end-------------------------------------------------------------*/

/*----------------------------------------------体育新闻---------------------------------------------------------------*/
#Left4ContentlefContent{width: 320px;height: 204px;padding: 10px 0 0 0;}
#lm1A1Info{padding: 10px 0 8px 0px;display: block;width: 320px;height: 26px;text-align: left;}
.lm1sub1Info{width: 100%;height: auto;}
.lm1sub1Info li{width: 100%;height: 26px;background-image: url("css/Images/icobg_1.4.png");background-position: 0 -382px;padding: 2px 0 0 6px;list-style-type: none;background-repeat: no-repeat;text-align: left;}
#Left4Contentlefthd{width: 332px;*width: 328px;height: 29px;background-color: rgb(251,251,251);border-bottom-color: rgb(219,236,236);border-bottom-style: solid;border-bottom-width: 1px;border-top-color: rgb(69,143,206);border-top-style: solid;border-top-width: 2px;}
#Left4Contentright5{height: 75px;width: 120px;background-image: url("css/Images/9.png");display: block;float: left;padding: 13px 0 0 0;}
#yule{line-height: 18px;width: 155px;height: 18px;color: rgb(59,99,159);font-size: 14px;float: left;text-align: left;margin: 10px 0 5px 6px;*font-weight: 400;text-decoration: none;font-weight: bold;}
#yule:hover{text-decoration: underline;}
.yule1{line-height: 18px;color: rgb(140,140,140);font-size: 12px;width: 157px;*width: 185px;height: 16px;float: left;text-align: left;padding: 3px 0 6px 6px;}
#yule3{width: 60px;height: 16px;text-decoration: none;color:rgb(43,55,74); }
#yule3:hover{text-decoration: underline;color: rgb(205,2,0);}
.Left4Contentright6{width: 157px;height: 70px;float:left;}
#Left4Contentrighthd{width: 330px;*width: 328px;height: 29px;background-color: rgb(251,251,251);border-bottom-color: rgb(219,236,236);border-bottom-style: solid;border-bottom-width: 1px;border-top-color: rgb(69,143,206);border-top-style: solid;border-top-width: 2px;}
#Left4ContentrightContent{width: 305px;height: 75px;line-height: 75px;padding: 13px 0 0 0;}

#Left4Contentright7{width: 305px;height: 130px;padding: 2px 0 0 0;float: left;*width: 313px;}

.lm1A11{*width:305px;*height: 16px;font-size: 14px;text-decoration: none;line-height: 28px;text-decoration: none;color: rgb(43,55,74);text-align: left;display: block;}

.lm1A11:hover{text-decoration: underline;color: rgb(205,2,0);}
.ftshd1{width: 305px;height: 26px;}
.ft11{width: 305px;height: 16px;float: left; padding:3px 0 0px 20px; text-align: left; background-image:url("css/Images/icobg_1.4.png");background-position: 0 -271px;text-decoration: none;color: rgb(45,55,75);background-repeat: no-repeat;font-size: 14px;text-decoration: none;}
.ft11:hover{text-decoration: underline;color: rgb(205,2,0);}

.lm1A12{*width:38px;height: 16px;font-size: 14px;text-decoration: none;line-height: 16px;text-decoration: none;color: rgb(43,55,74);text-align: left;display: block;float: left;padding: 0 3px 0 3px;}
.lm1A13{*width: 110px;width: 98px;height: 16px;font-size: 14px;text-decoration: none;line-height: 16px;text-decoration: none;color: rgb(43,55,74);text-align: left;display: block;float: left;padding: 0 3px 0 3px;*padding: 1px 0 0 0; }
.lm1A14{*width: 160px;width: 152px;height: 16px;font-size: 14px;text-decoration: none;line-height: 16px;text-decoration: none;color: rgb(43,55,74);text-align: left;display: block;float: left;padding: 0 3px 0 3px;*padding: 1px 0 0 0;}
.lm1A12:hover{text-decoration: underline;color: rgb(205,2,0);}
.lm1A13:hover{text-decoration: underline;color: rgb(205,2,0);}
.lm1A14:hover{text-decoration: underline;color: rgb(205,2,0);}

#Left4Contentright51{height: 75px;width: 120px;background-image: url("css/Images/10.png");display: block;float: left;padding: 13px 0 0 0;}
.todayhd11{color: #2b374A;font-size: 14px;text-decoration: none;line-height: 16px;text-decoration: none;color: rgb(43,55,74);text-align: left;padding:0 5px 0 0;}
.todayhd11:hover{color: red; text-decoration: underline;}

/*----------------------------------------------体育新闻 end-------------------------------------------------------------*/


/*----------------------------------------------科技数码---------------------------------------------------------------*/
.TechInfoleft1hd{width: 320px;height: 29px;background-color: rgb(251,251,251);border-bottom-style: solid;border-bottom-color: rgb(219,236,236);border-bottom-width: 1px;border-top-color: rgb(69,143,206);border-top-style: solid;border-top-color: rgb(69,143,206);border-top-width: 2px;font-size: 12px;font-family: 宋体，Arial;font-weight: 400;}
.TechInfoleftbd{width: 320px;height: 75px;padding: 13px 0 12px 0;font-family: 宋体，Arial;font-size: 12px;font-weight: 400;line-height: 15px;}
#TechInfoleftbd1{width: 130px;height: 75px;background-image: url("css/Images/12.png");float: left;}
.TechInfoleftbd2{width: 172px;height: 44px;float: left;}
.lm1sub1Info1{width: 100%;height: auto;}
.lm1sub1Info1 li{width: 100%;height: 26px;background-image: url("css/Images/icobg_1.4.png");background-position: 0 -382px;padding: 0px 0 0 6px;list-style-type: none;background-repeat: no-repeat;text-align: left;}
#TechInfoleftContent{width: 320px;height: 182px;padding: 5px 0 0 0;}

/*----------------------------------------------科技数码 end-------------------------------------------------------------*/

#TechInfoleftbd2{width: 130px;height: 75px;background-image: url("css/Images/13.png");float: left;}
#TechInfoleftbd3{width: 130px;height: 75px;background-image: url("css/Images/15.png");float: left;}
#TechInfoleftbd4{width: 130px;height: 75px;background-image: url("css/Images/16.png");float: left;}
#TechInfoleftbd5{width: 130px;height: 75px;background-image: url("css/Images/17.png");float: left;}
#TechInfoleftbd6{width: 85px;height: 110px;background-image: url("css/Images/18.png");float: left;display: block;margin: 0 7px 0 7px;}
#TechInfoleftbd7{width: 85px;height: 110px;background-image: url("css/Images/19.png");float: left;display: block;margin: 0 7px 0 7px;}
#TechInfoleftbd8{width: 85px;height: 110px;background-image: url("css/Images/20.png");float: left;display: block;margin: 0 7px 0 7px;}

.TechInfoleftbd1{width: 297px;height: 110px;padding: 10px 0 6px 0;font-family: 宋体，Arial;font-size: 12px;font-weight: 400;line-height: 15px;margin: auto;}

/*----------------------------------layout  end------------------------------------------------*/


/*------------------------------------layout2---------------------------------------------------*/
.lm2{width: 1000px;bor*width: 98px;r: 1px solid #ccc;margin: 12px auto 0 auto;}
.lmmini{border: 1px solid #ccc;}
#yuele{height: 266px;}
#yueleinfo{width: 660px;height: 256px;float: left;}
#yueleinfoleft{width: 328px;height: 254px;float: left;}/*width要改为330px*/
#yueleinforight{width: 328px;height: 256px;float: left;}/*width要改为330px*/
#dujia{width: 318px;height: 266px;float: right;}

#Left4Contentright61{background-image:url("css/Images/21.png");width: 130px;height: 75px;float: left; }
#Left4Contentright62{background-image:url("css/Images/22.png"); width: 130px;height: 75px;float: right;}
/*----------------------------------layout2  end------------------------------------------------*/



/*------------------------------------layout3---------------------------------------------------*/
#hide03{height: 90px;}
#hide03left{width: 660px;height: 90px;float: left;background-image: url("css/Images/27.png");}
#hide03right{width: 320px;height: 90px;float: right;background-image:url("css/Images/11.png");}
/*----------------------------------layout3  end------------------------------------------------*/



/*------------------------------------layout4---------------------------------------------------*/
#TechInfo{height: 335px;}
#TechInfoleft{width: 660px;height: 321px;float: left;}
#TechInfoleft1{width: 320px;height: 321px;float: left;}
#TechInfoleft2{width: 320px;height: 321px;float: right;}
#TechInforight{width: 318px;height: 333px;float: right;}
/*----------------------------------layout4  end------------------------------------------------*/



/*------------------------------------layout5---------------------------------------------------*/
#EnjoyInfo{height: 333px;}
#EnjoyInfoleft{width: 660px;height: 321px;float: left;}
#EnjoyInfoleft1{width: 320px;height: 321px;float: left;}
#EnjoyInfoleft2{width: 320px;height: 321px;float: right;}
#EnjoyInforight{width: 318px;height: 331px;float: right;}
/*----------------------------------layout5  end------------------------------------------------*/




/*------------------------------------layout6 培训 考试---------------------------------------------------*/
#layout6{width: 1000px;height: 180px;margin: 12px auto 0 auto;border: 1px solid #ccc;}
.adEdu{width: 660px;height: 180px;margin: 0;padding: 0;}
.hdleft{width: 329px;height: 30px;background-color: rgb(251,251,251);background-image: url("css/Images/qqbg_1.5.5.png"); background-position: 50% -397px;background-repeat: no-repeat;border-bottom-color: rgb(222,234,248);border-bottom-width: 1px;border-bottom-style: solid;font-size: 12px;float: left;line-height: 30px;}
.hdright{width: 329px;height: 30px;background-color: rgb(251,251,251);background-image: url("css/Images/qqbg_1.5.5.png"); background-position: 50% -397px;background-repeat: no-repeat;border-bottom-color: rgb(222,234,248);border-bottom-width: 1px;border-bottom-style: solid;font-size: 12px;float: left;line-height: 30px;}
.pxun{float: left;width: 70px;height: 30px;font-size: 14px;color: rgb(72, 143, 209);text-decoration: none;background-image: url("css/Images/qqbg_1.5.5.png");background-position: 0 -159px;}
.pxun:hover{text-decoration:underline;}
.zizu{float: right;width: 144px;*width: 199px;height: 30px;padding: 0 11px 0 0;font-size: 12px;text-decoration: none;color: rgb(45,55,75);}
.zizu:hover{color: rgb(205,2,0);text-decoration:underline;}
.adEduleft1{height: 180px;width: 330px;float: left;}
.adEduleft2{height: 180px;width: 330px;float: left;}
.conent{height: 180px;width: 330px;float: left;}
.adEduright{width: 320px;height: 186px;float:  right;background-image: url("css/Images/23.png")}
/*----------------------------------layout6  end------------------------------------------------*/


/*------------------------------------layout7 培训 考试---------------------------------------------------*/
#layout7{width: 1000px;height: 332px;margin: 12px auto 0 auto;padding: 0;border:1px solid #ccc;}
#TechInfoleftbd71{width: 130px;height: 75px;background-image: url("css/Images/25.png");float: left;}
#TechInfoleftbd76{width: 130px;height: 75px;background-image: url("css/Images/26.png");float: left;}
.TechInfoleftbd72{width: 138px;height: 70px;float: left;}
/*----------------------------------layout7  end------------------------------------------------*/


/*------------------------------------layout8 培训 考试---------------------------------------------------*/

#layout8{width: 1000px;height: 330px;margin: 12px auto 0 auto;padding: 0;}
#EnjoyInforight3{background-image: url("css/Images/24.png");width: 320px;height: 330px;float: right;}
/*----------------------------------layout8  end------------------------------------------------*/

/*------------------------------------layout9 培训 考试---------------------------------------------------*/

#layout9{width: 1000px;height: 383px;margin: 12px auto 0 auto;padding: 0;border:1px solid #ccc;}

/*---------------------------------大家爱看---------------------------------------*/
#aikanhd{width: 320px;height: 32px;background-image: url("css/Images/qqbg_1.5.5.png");background-position: 0 -159px;}
#aikan2{width: 60px;height: 21px;font-size: 12px;line-height: 15px;background-image: url("css/Images/qqbg_1.5.5.png");background-position: -800px -110px;background-repeat: no-repeat;color: rgb(255,255,255);display: block;}
#aikan1{width: 320px;height: 280px;}
.tup{background-image: url("css/Images/29.png");width: 160px;height: 100px;display: block;}
/*----------------------------------layout9  end------------------------------------------------*/


/*------------------------------------layout10 培训 考试---------------------------------------------------*/
#layout10{width: 1000px;height: 230px;margin: 12px auto 0 auto;padding: 0;border:1px solid #ccc;}
.hdleft101{width: 329px;height: 30px;background-color: rgb(251,251,251);background-image: url("css/Images/qqbg_1.5.5.png"); background-position: 50% -397px;background-repeat: no-repeat;border-bottom-color: rgb(222,234,248);border-bottom-width: 1px;border-bottom-style: solid;font-size: 12px;float: left;line-height: 30px;}
.hdright101{width: 329px;height: 30px;background-color: rgb(251,251,251);background-image: url("css/Images/qqbg_1.5.5.png"); background-position: 50% -397px;background-repeat: no-repeat;border-bottom-color: rgb(222,234,248);border-bottom-width: 1px;border-bottom-style: solid;font-size: 12px;float: left;line-height: 30px;}
.TechInfoleftContent1{width: 320px;height: 78px;padding: 7px 0 0 0;margin:7px 0 0 0; }
.lm1sub1Info101 li{width: 100%;height: 26px;background-image: url("css/Images/icobg_1.4.png");background-position: 0 -382px;padding: 8px 0 0 6px;list-style-type: none;background-repeat: no-repeat;text-align: left;}
.adEduright1{width: 320px;height: 186px;float:  right;}
/*----------------------------------layout10  end------------------------------------------------*/

/*------------------------------------layout11 培训 考试---------------------------------------------------*/
#layout11{width: 998px;height: 190px;margin: 12px auto 0 auto;padding: 0;border:1px solid #ccc;}

/*----------------------------------layout11  end------------------------------------------------*/


/*------------------------------------layout12 培训 考试---------------------------------------------------*/
#layout12{width: 1000px;height: 90px;margin: 12px auto 0 auto;padding: 0;background-image: url("css/Images/28.png");}




#layoutPicTitle{ width: 988px; height: 31px; background-color: rgb(246, 249, 254); text-align: left; line-height: 31px; padding-left: 10px;}
#layoutPicTitle a{ font-size: 14px; color: rgb(69, 143, 206); font-weight: bold;  text-decoration: none;}
#layoutPicTitle a:hover{ text-decoration: underline;}
#layoutPicContent{ width: 998px; height: 159px;}
.layoutPicContentC{ width: 22px; height:159px;  position: relative;}
#layoutPicContent1{ float: left;}
#layoutPicContent3{ float: right;}
#layoutPicContent2{ width: 952px; height: 139px; padding-top: 20px; float: left;}
.layoutPicContentL{ width: 11px; height: 20px;  background-image: url("css/Images/qqbg_1.5.5.png"); background-position: -800px -160px; position: absolute; left: 11px; top: 69px; }
.layoutPicContentR{ width: 11px; height: 20px;  background-image: url("css/Images/qqbg_1.5.5.png"); background-position: -850px -160px; position: absolute; left: 0px; top: 69px; }

#layoutPicContent2 li{ width: 160px; height: 128px; padding:0 14px 0 14px; float: left;}
#layoutPicContent2 img{ width: 36px; height: 45px;}
.layoutPicContent2A{ color: rgb(45, 55, 75); text-decoration: none;font-size: 12px;}
.layoutPicContent2A:hover{ color: red; text-decoration: underline;}
/******************图片集 end******************/

/******************footer ******************/
#footer a,#footer span,.fonterNewContent2{ color:#515151; text-decoration: none; line-height: 24px; font-family: 宋体,Arial; }
#footer a:hover,.fonterNewContent2:hover{ color:#BD0A01; text-decoration: underline; }
/******************footer end******************/

/******************footerNew ******************/
.fonterNewContent{ width: 128px; height: 50px; float: left; border:1px solid rgb(210, 210, 210); margin: 6px;}
.fonterNewContent1{ width: 36px; height: 42px; padding: 3px; display: block; float: left;}
.fonterNewContent2{ width: 60px;  *width: 68px;height: 40px; padding: 5px 9px 0 9px; *padding: 5px 0 0 6px; line-height: 20px; display: block; float: left;text-align: left;}
.fonterNewContent7{ border: 0px; width: 128px; height: 52px;}
.layout1311{font-size: 11px;}
.pi1{width: 36px;width: 43px;display: block;background-image: url("css/Images/30.png");}
.pi12{width: 128px;height: 52px;display: block;background-image: url("css/Images/31.png");}
/******************footerNew end******************/

/*----------------------------------layout12 end------------------------------------------------*/

/*------------------------------------layout13 培训 考试---------------------------------------------------*/
#layout13{width: 910px;height: 100px;margin: 12px auto 0 auto;padding: 0;border:1px solid #ccc;}
.layout131 a{color:rgb(81,81,81);font-size: 12px; }
/*----------------------------------layout13 end------------------------------------------------*/


/*------------------------------------layout13 培训 考试---------------------------------------------------*/
#layout15{width: 1000px;height: 70;margin: 12px auto 0 auto;padding: 0;border:1px solid #ccc;}




.bgBlue{ background-color: #F5F8FC;}
.lm2RLine1{ width: 278px; height: 24px; *width: 288px; padding: 12px 0 0 10px;  *line-height: 24px;}
.lm2RLine2{ width: 278px; height: 24px; *width: 288px; padding: 11px 0 0 10px; *line-height: 24px;}
.lm2RLine3{ width: 278px; height: 26px; *width: 288px; padding: 11px 0 0 10px; *line-height: 26px;}
.lm2RLine4{ width: 278px; height: 50px; *width: 288px; padding: 5px 0 0 10px; line-height: 22px; *line-height: 25px;}
.lm2RLine5{ height: 278px; height: 25px; *width: 288px; padding: 10px 0 0 10px; *line-height: 25px;}
.bgWrite{ background-color: #fff;}
#lm2RLineULO{ text-align: left;}
.lm2RLine1 a{font-size: 12px;color: rgb(45,55,75);font-family: SimSun,tahoma;line-height: 16px;text-decoration: none;}
.lm2RLine2 a{font-size: 12px;color: rgb(45,55,75);font-family: 宋体,tahoma;line-height: 16px;text-decoration: none;}
.lm2RLine3 a{font-size: 12px;color: rgb(45,55,75);font-family: 宋体,tahoma;line-height: 16px;text-decoration: none;}
.lm2RLine4 a{font-size: 12px;color: rgb(45,55,75);font-family: 宋体,tahoma;line-height: 16px;text-decoration: none;}
.lm2RLine5 a{font-size: 12px;color: rgb(45,55,75);font-family: 宋体,tahoma;line-height: 16px;text-decoration: none;}

.lm2RLine1 a:hover{color: rgb(205,2,0);text-decoration:underline;}
.lm2RLine2 a:hover{color: rgb(205,2,0);text-decoration:underline;}
.lm2RLine3 a:hover{color: rgb(205,2,0);text-decoration:underline;}
.lm2RLine4 a:hover{color: rgb(205,2,0);text-decoration:underline;}
.lm2RLine5 a:hover{color: rgb(205,2,0);text-decoration:underline;}
/*----------------------------------layout13 end------------------------------------------------*/